<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
  <div class="my-auto" [@onLoad]>
    <h2 class="text-primary">Education</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">BITS Pilani</h3>
        <div class="subheading mb-3">Work Integrated Learning Program</div>
        <div>M.Tech Software Engineering</div>
        <p></p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">August 2017 - Present</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">MVJ College of engineering</h3>
        <div class="subheading mb-3">Visvesvaraya Technological University</div>
        <div>B.E. Computer Science</div>
        <p></p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">August 2013 - June 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Sri Bhagawan Mahaveer Jain College</h3>
        <div class="subheading mb-3">PRE-UNIVERSITY KARNATAKA</div>
        <div>Science, Mathematics</div>
        <p></p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">June 2011 - June 2013</span>
      </div>
    </div>

  </div>
</section>