<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
  <div class="my-auto" [@onLoad]>
    <h2 class="text-primary">Experience</h2>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Scholar@SAP - BookMySport</h3>
        <div class="subheading mb-3">Facility Sports Booking App</div>
        <p align="justify">An
          <b>SAP UI5</b> application which allows the employees to block the sports facilities at SAP campus was developed by
          our team by using
          <b>HANA</b> as the backend and deploying the app in
          <b>SAP Cloud Platform</b>. Employees will browse through the calendar and based on the availability they can block
          the court. Notifications will be sent to the employee and the Admin can view all the booking status.</p>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <i class="fas fa-code"></i>
            </div>
            <div class="col-sm">
              <i class="fab fa-html5"></i>
            </div>
            <div class="col-sm">
              <i class="fas fa-cloud"></i>
            </div>
            <div class="col-sm">
              <i class="fas fa-database"></i>
            </div>
            <div class="col-sm">
              <i class="fab fa-js-square"></i>
            </div>
            <div class="col-sm">
              <i class="fab fa-java"></i>
            </div>
            <div class="col-sm">
              <img src="assets/sap.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">July 2018 - Present</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Scholar@SAP</h3>
        <div class="subheading mb-3">C4C Utilities</div>
        <p align="justify">SAP Cloud for Customer Utilities Call Center solution helps you to
          <b>optimize call center operations
          </b> using modern customer engagement tools for sales and service processes. Here, I worked on a POC where the
          main aim was to
          <b>expose the existing services to the outside world without interacting with C4C.</b> For this problem statement,
          we worked on
          <b>Core Data Services(CDS Views) and oDATA</b> for exposing the backend services. The main objective was that the
          customers can use these exposed services and create extensibility projects based on their requirements. The UI
          was completely build using
          <b>SAP UI5 and Fiori Elements.</b>
          Also got a hands on the Automation scripting to automate various scenarios using
          <b>Sahi Scripts. </b>
        </p>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <img src="assets/sap.png" />
            </div>
            <div class="col-sm">
              <i class="fab fa-java"></i>
            </div>
            <div class="col-sm">
              <i class="fab fa-html5"></i>
            </div>
            <div class="col-sm">
              <i class="fab fa-js-square"></i>
            </div>
            <div class="col-sm">
              <i class="fas fa-database"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">June 2018 - Present</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">InnoVision2k18</h3>
        <div class="subheading mb-3">Android / iOS Native Code Generator​ from SAP Build​</div>
        <p align="justify">SAP Build is a prototyping tool developed by SAP which has an additional functionality of
          <b>generating the SAP UI5 code just by dragging and dropping the controllers.</b> During this one month, our team
          developed the same functionality for
          <b>Android and iOS.</b> Our product could
          <b>prototype apps</b> based on the customers requirements,
          <b>generate the APK and the Swift application</b> just by dragging and dropping the controllers. Customers can
          <b>directly install the prototype</b>
          in the mobile device and experience the look and feel. Along with this, the product could also
          <b>generate the native source code</b> which can later be given to the mobile app developers for further developement.
        </p>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <i class="fab fa-android"></i>
            </div>
            <div class="col-sm">
              <i class="fab fa-apple"></i>
            </div>
            <div class="col-sm">
              <i class="fab fa-node"></i>
            </div>
            <div class="col-sm">
              <i class="fab fa-google-play"></i>
            </div>
            <div class="col-sm">
              <i class="fab fa-app-store"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">April 2018 - May 2018</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Scholar@SAP</h3>
        <div class="subheading mb-3">S4 HANA Idea Content Development</div>
        <p align="justify">During this 7 months in the team
          <b>Idea Content Development</b> I was responsible for creating an internal tool to validate the
          <b>migration of SAP Best Practices</b> from the Old data model to the New data model. Knowledge gained during the
          practical phase includes
          <b>ABAP report programming, Subroutines, RFC connection</b> between ABAP systems.
        </p>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <img src="assets/sap.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">September 2017 - April 2018</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">Final year B.E Project - OPENSIM: AN OPENSTACK SIMULATOR</h3>
        <div class="subheading mb-3">PES University - CCBD Labs</div>
        <p align="justify">A simulator which mimics certain services offered by
          <b>OpenStack</b> cloud framework using CloudSim, which is a generic cloud simulator. The Java based simulator helps
          in
          <b>displaying the Power and Resource consumption of a VM instance</b>
          based on the scheduling algorithms used by the processes. </p>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <i class="fab fa-java"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">January 2017 - July 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row mb-5">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">B.E. mini project - MS-LOGO USING OPENGL </h3>
        <div class="subheading mb-3">MVJ College of engineering</div>
        <p align="justify">An application using C to
          <b>draw basic geometric figures using keyboard commands.</b> The objective of the project was to implement basic transformations
          like
          <b>scaling, rotation and translation.</b>
        </p>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <i class="fas fa-terminal"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">August 2016 - December 2016</span>
      </div>
    </div>

  </div>

</section>