<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
  <div class="my-auto" [@onLoad]>
    <h2 class="mb-5">More about me</h2>
    <ul class="fa-ul mb-0">
      <li>
        Contributed for the Technical Paper
        <i>
          <b>Enhancement of User Experience by using Machine Learning</b>
        </i> and filed patent.
      </li>
      <li>
        Organized
        <i>
          <b>Scholympics 1.0 </b>
        </i>, a sports event exclusivly for Scholars.
      </li>
      <li>
        3
        <sup>rd</sup>
        Place - InnoVision 2k18 -
        <i>
          <b>Android / iOS Native Code Generator​ from SAP Build</b>
        </i>
      </li>
      <li>
        Completed the Foundation Program under the aegis of the
        <i>
          <b>Infosys Campus Connect Program</b>
        </i>.
      </li>
      <li>
        <b>
          <i>Google Student Group (2014-15)</i>
        </b>: A member in the sub-core team and helped organizing Android App Development Workshop and Online Photography Event.
      </li>
    </ul>
  </div>
</section>